<div class="landing-page">
  <canvas #canvas class="scene scene--full"></canvas>
  
  <div class="content content--fixed">
    <div class="content__inner">
      <h1 class="content__title">RAGify</h1>
      <h2 class="content__subtitle">Information & Data Science</h2>
      
      <div class="landing-actions">
        <a routerLink="/login" class="action-btn action-btn--primary">
          Login
        </a>
        <a routerLink="/signup" class="action-btn action-btn--secondary">
          Sign Up
        </a>
        <a routerLink="/home" class="action-btn action-btn--secondary action-btn--home">
          Home
        </a>
      </div>
    </div>
  </div>
</div>

